.membership {
  padding: 32px 20px;
}

.title {
  color: var(--Color-Text-Primary, #100e15);
  text-align: left;
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.48px;
  margin-bottom: 12px;
}
